
.profile-icon {
  margin-top: 10px;
    font-size: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
}

.menu-icon {
  margin-top: 10px;
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.active {
  font-weight: bold;
  color: #1b86f1;
}

.position-icon-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

::ng-deep .mat-menu-panel {
  .mat-menu-item {
    font-size: 24px !important;
    margin-bottom: -5px !important;
  }
  
  .mat-menu-item.logout-button {
    font-size: 18px !important;
    color: #A40F0F !important;
    font-weight: bold !important;
  }
}