
<ng-container *ngIf="isLoginOrRegisterPage">

    <nav class="hidden md:flex space-x-4 border-b-2 border-black pb-1">
        <img src="/assets/logo_p6.png" alt="logo" class="w-32" />
    </nav>

    <div class="md:hidden mt-8 ml-4 mb-10">
        <button routerLink="/">
            <img src="/assets/arrow_back.png" class="w-12" alt="logo"/>
        </button>
    </div>
</ng-container>

<ng-container *ngIf="!isLoginOrRegisterPage">
    <!-- <nav class="flex justify-between items-center border border-b border-solid border-black pb-1 px-2 md:px-0">
        <img src="/assets/logo_p6.png" alt="logo" class="w-32" />
        <div class="hidden md:flex space-x-4">
            <button mat-button routerLink="/login">login</button>
            <button mat-button routerLink="/register">register</button>
        </div>
        <div class="md:hidden">

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>menu</mat-icon>
            </button>
  
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item routerLink="/login">login</button>
                <button mat-menu-item routerLink="/register">register</button>
            </mat-menu>
        </div>
    </nav> -->
</ng-container>
