<div class="list">
    <div class="subject-grid">
        <mat-card class="item" *ngFor="let subject of subjects$ | async">
            <mat-card-header>
                <mat-card-title>{{ subject.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ subject.description }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [color]="isSubscribed(subject) ? '' : 'primary'" [class.subscribed-button]="isSubscribed(subject)" (click)="isSubscribed(subject) ? unsubscribeFromSubject(subject.id) : subscribeToSubject(subject.id)">
                    <span>{{ isSubscribed(subject) ? labelsForInterface.unsubscribe : labelsForInterface.subscribe }}</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
