<app-title [title]="labelsForInterface.profile" [typePage]="'createPost'"></app-title>

<form [formGroup]="createPostForm" class="flex flex-col items-center mt-5">
    <mat-select 
        [placeholder]="labelsForInterface.selectSubject" 
        formControlName="subjects"
        class="w-64 md:w-96 !border-2 !border-[#7763C5] !rounded-lg !px-3 !py-3 focus:!border-blue-500 mb-6">
        <mat-option *ngFor="let subject of subjects$ | async" [value]="subject.id">{{ subject.title }}</mat-option>
    </mat-select>

    <input
        matInput
        type="text"
        class="block w-64 md:w-96 !border-2 !border-[#7763C5] !rounded-lg !px-3 !py-3 focus:!border-blue-500"
        [placeholder]="labelsForInterface.ph_title"
        formControlName="title" />
    <ng-container *ngTemplateOutlet="errorMessage; context: { message: getFieldError('title') }"></ng-container>

    <textarea
        matInput
        rows="10"
        class="block w-64 xs:w-96 min-h-[212px] !border-2 !border-[#7763C5] !rounded-lg !px-3 !py-3 focus:!border-blue-500"
        [placeholder]="labelsForInterface.ph_content"
        formControlName="content">
    </textarea>
    <ng-container *ngTemplateOutlet="errorMessage; context: { message: getFieldError('content') }"></ng-container>

    <button
        mat-raised-button 
        color="primary"
        class="w-36 h-10 !mt-4 !rounded-lg"
        [disabled]="!createPostForm.valid"
        (click)="onSubmitForm()">
        {{ labelsForInterface.submit }}
    </button>
</form>

<ng-template #errorMessage let-message ="message">
    <div class="w-64 md:w-96 h-6 mt-1 flex justify-center items-start">
        <mat-error *ngIf="message" class="text-red-500 text-sm text-center">
            {{ message }}
        </mat-error>
    </div>
</ng-template>