.list {
    margin: 20px;

    .subject-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        
        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        @media (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        .item {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: #ececec97;

            mat-card-content {
                flex-grow: 1;
            }

            mat-card-actions {
                margin-top: auto;
                padding: 16px;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    padding: 0px 40px; 
                }

                .subscribed-button {
                    background-color: #9e9e9e !important;
                    color: white !important;
                }
            }
        }
    }
}