<app-auth-header [title]="labelsForInterface.login"></app-auth-header>

<form [formGroup]="mainForm" class="flex flex-col items-center mt-5">
    <div class="mb-6">
        <mat-label class="font-bold">{{ labelsForInterface.identifier }}</mat-label>
        <input 
            matInput 
            type="text" 
            class="block w-64 md:w-96 !border !border-black !rounded-lg !px-3 !py-3 focus:!border-blue-500" 
            formControlName="identifier" />
        <div class="w-64 md:w-96 h-6 mt-1 flex justify-center items-start">
            <mat-error *ngIf="getFieldError('identifier') as error" class="text-red-500 text-sm">
                {{ error }}
            </mat-error>
        </div>
    </div>
    <div class="mb-6">
        <mat-label class="font-bold">{{ labelsForInterface.password }}</mat-label>
        <input 
            matInput 
            type="password" 
            class="block w-64 md:w-96 !border !border-black !rounded-lg !px-3 !py-3 focus:!border-blue-500" 
            formControlName="password" />
        <div class="w-64 md:w-96 h-12 mt-1 flex justify-center items-start">
            <mat-error *ngIf="getFieldError('password') as error" class="text-red-500 text-sm">
                {{ error }}
            </mat-error>
        </div>
    </div>
    <button 
        mat-raised-button 
        color="primary" 
        class="w-40" 
        [disabled]="!mainForm.valid"
        (click)="onSubmitForm()">
       {{ labelsForInterface.login }}
    </button>
</form>

<ng-container *ngIf="invalidCredentials">
    <app-invalid-credentials [invalidCredentialsMessage]="labelsForInterface.invalidCredentials"></app-invalid-credentials>
</ng-container>
